/* frontend/src/components/Calendar/DayView.css */
/* frontend/src/components/Calendar/CalendarHeader.css */

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.month-nav-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px 10px;
    transition: transform 0.2s ease;
}

.month-nav-button:hover {
    transform: scale(1.2);
}

.month-year {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
    margin: 0;
}
